{% extends 'base.html' %}

{% block title %}{{ project.title }} - Portfolio{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="my-4">{{ project.title }}</h1>
            {% if project.image %}
                <img src="{{ project.image.url }}" class="img-fluid mb-4" alt="{{ project.title }}">
            {% else %}
                <p>No image available for this project</p>
            {% endif %}
            <div class="mb-4">
                <h3>Description</h3>
                <p>{{ project.description }}</p>
            </div>

            <!-- Section Champs de Texte -->
            <div class="mb-4">
                <h3>Champs de Texte</h3>
                {% for text_field in text_fields %}
                    <div class="mb-4">
                        <p>
                            {% for word in text_field.content.split %}
                                {% if word in glossary_terms_dict %}
                                <span class="hover-word" onmouseover="showPopup(this, `{{ word }}`, `{{ glossary_terms_dict|escapejs }}`)">
                                    {{ word }}
                                </span>                                
                                {% else %}
                                    <span>{{ word }}</span>
                                {% endif %}
                            {% endfor %}
                        </p>
                        {% for image in text_field.images.all %}
                            <img src="{{ image.image.url }}" class="img-fluid mb-4" alt="Image">
                        {% endfor %}
                        <h5>Compétences Associées</h5>
                        <ul>
                            {% for competence in text_field.competences.all %}
                                <li>{{ competence.name }}</li>
                            {% endfor %}
                        </ul>
                        <h5>Apprentissages Critiques Associés</h5>
                        <ul>
                            {% for apprentissage in text_field.apprentissages_critiques.all %}
                                <li>{{ apprentissage.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Basic Information</h5>
                    <p><strong>Languages:</strong>
                    {% for language in project.languages.all %}
                        {{ language.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        None
                    {% endfor %}
                    </p>
                    <p><strong>Frameworks:</strong>
                    {% for framework in project.frameworks.all %}
                        {{ framework.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        None
                    {% endfor %}
                    </p>
                    {% if project.github_link %}
                        <p><strong>GitHub:</strong> <a href="{{ project.github_link }}" target="_blank">{{ project.github_link }}</a></p>
                    {% endif %}
                    {% if project.link %}
                        <p><strong>Project Link:</strong> <a href="{{ project.link }}" target="_blank">{{ project.link }}</a></p>
                    {% endif %}
                    {% if project.referent_teacher %}
                        <p><strong>Referent Teacher:</strong> {{ project.referent_teacher }}</p>
                    {% endif %}
                    {% if project.supervisor %}
                        <p><strong>Internship Supervisor:</strong> {{ project.supervisor }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Styles for Popup -->
<style>
    .popup {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 1;
    }

    .hover-word {
        font-weight: bold;
    }
</style>

<!-- Popup Element -->
<div id="popup" class="popup"></div>

<!-- JavaScript for Popup -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var hoverWords = document.querySelectorAll('.hover-word');

        hoverWords.forEach(function (element) {
            element.addEventListener('mouseout', function () {
                hidePopup();
            });
        });
    });

    function showPopup(element, word, glossaryTerms) {
        var popup = document.getElementById("popup");
        var glossaryTermsObj = JSON.parse(glossaryTerms);
        popup.innerHTML = glossaryTermsObj[word];
        popup.style.display = "block";
        popup.style.top = (element.offsetTop + element.offsetHeight) + "px";
        popup.style.left = element.offsetLeft + "px";
    }

    function hidePopup() {
        var popup = document.getElementById("popup");
        popup.style.display = "none";
    }
    </script>
    
</script>
{% endblock %}
